@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  overflow-x: hidden;
  background-color: white;
}
nav {
  top: 0px;
  position: sticky !important;
}
.grecaptcha-badge {
  z-index: 1;
}
